version: '3'

services:
  web:
    container_name: web
    restart: always
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app1
    depends_on:
      - postgres
      - redis
    command: python manage.py runserver 0.0.0.0:8000

  postgres:
    container_name: postgres
    restart: always
    image: postgres:latest
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - db:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin4
    image: dpage/pgadmin4
    restart: always
    env_file:
      - .env
    ports:
      - "5050:80"
    volumes:
      - pgadmin:/var/lib/pgadmin

  redis:
      container_name: redis
      restart: unless-stopped
      image: redis:alpine
      ports:
          - '6379:6379'

  celery:
    container_name: celery
    build: .
    command: "celery -A config worker -l info"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  celery_beat:
    build:
      context: ./
    command: ['celery', '-A', 'config', 'beat']
    volumes:
      - ./CarshowroomProject:/app
    depends_on:
      - redis
    env_file:
      - ./.env

  flower:
    build:
      context: .
    command: celery -A config flower
    volumes:
      - .:/app1
    depends_on:
      - redis
      - celery
    env_file:
      - ./.env
    ports:
      - "5555:5555"

volumes:
  db:
  pgadmin: