[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
tzdata = "==2023.3"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
